.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid $color-primary;
            transition: all 0.3s;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
                }

            }

        &::placeholder {
            color: $color-grey-dark-2;
            }

        }
        
        &__label {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: 0.7rem;
            transition: all 0.3s;
        }
        
        &__input:placeholder-shown + &__label { // + is a direct-sibling selector
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        &__radio-group {
            display: inline-block;
            width: 49%;
            position: relative;
        }

        &__radio-input {
            position: absolute;
            z-index: -1;
        }

        &__radio-label {
            font-size: $default-font-size;
            cursor: pointer;
            position: relative;
            padding-left: 5rem;
            transition: all 0.3s;
        }

        &__radio-button {
            display: inline-block;
            height: 3rem;
            width: 3rem;
            border: 5px solid $color-primary;
            border-radius: 50%;
            position: absolute;
            top:-0.5rem;
            left: 0;
            
            
            &::after {
                content: "";
                display: block;
                height: 1.3rem;
                width: 1.3rem;
                background-color: $color-primary;
                border-radius: 50%;
                @include dead-center;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

    &__radio-input:checked ~ &__radio-label &__radio-button::after { // ~ is a direct-sibling selector
        opacity: 1;
    }    

    &__radio-input:focus ~ &__radio-label {
        outline: solid 3px rgba($color-primary, 0.4);
        outline-offset: 1.8rem;
    }

}